<div data-aos="fade-in" class="game {{ item ? 'game-alone' : '' }}">
    <div class="game-top">
        <div class="game-top-left">
            <h2 class="title title-medium">{{ game.title }}</h2>
            <div class="categories animate__animated animate__fadeInLeft">
                {% for category in game.gameCategory %}
                    <p>{{ category.name }}</p>
                {% endfor %}
            </div>
            {% if item %}
                <p class="date"
                   style="margin-top: 1rem; opacity: .5; font-style:italic;">{{ game.launchAt|date("m/d/Y") }}</p>
            {% endif %}
            <p class="stars" style="margin-top: 1rem">{{ show_stars(game) }}</p>
        </div>
        <div class="game-top-right">
            {% for device in game.devices %}
                <img src="{{ device.pathLogo }}" alt="logo device">
            {% endfor %}
        </div>
    </div>
    <div class="img-box" style="--src:url('{{ game.pathImg }}')"><img src="{{ game.pathImg }}"
                                                                      alt="">
    </div>
    <p class="description">{{ item ? game.description|nl2br : game.description|slice(0, 255) ~ '...' }}</p>
    {% if not item %}
        <a class="btn-icon btn-alone" href="{{ path("game_id", {"id": game.id}) }}"><span
                    class="material-icons">zoom_in</span></a>
    {% else %}
        <div class="btn-group"><a href="{{ path('forum_topics_game', {'id': game.id }) }}" class="btn ">Voir les sujets
                associés</a>
            <a href="{{ path("home") }}" class="btn-icon"><span class="material-icons">arrow_back</span></a></div>
    {% endif %}
</div>