{% extends '/layout/admin.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="title">Liste des sujets</h1>
        <ul class="items-crud">
                <li class="topic-category post-category">
                    <span>{{ topic.title }} - {{ topic.forum.title }}</span>
                    <div class="buttons">
                        <a class="btn btn-success" href="{{ path('admin_topic_edit', {'id': topic.id}) }}">↑</a>    {{ include('admin_topic/_delete_form.html.twig') }}
                    </div>
                </li>
        </ul>
        <a style="margin-top: 2rem; display: inline-block" class="btn" href="{{ path('admin_topic_index') }}">Retour à la liste</a>

    </div>
{% endblock %}
