{% extends 'layout/admin.html.twig' %}
{% block title %}Admin - actualités{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <h2 class="title">Rechercher des actualités</h2>
        <div class="form-group">
            {{ form_widget(form.title, {
                'attr': {'placeholder': 'placeholder'}
            }) }}
            {{ form_label(form.title, 'Titre') }}
        </div>
        <div class="form-group">
            {{ form_widget(form.content, {
                'attr': {'placeholder': 'placeholder'}
            }) }}
            {{ form_label(form.content, 'Contenu') }}
        </div>

        <div class="form-group">
            {{ form_widget(form.postCategory, {
                'attr': {'placeholder': 'placeholder'}
            }) }}
            {{ form_label(form.postCategory) }}
        </div>
        <div class="form-group">
            {{ form_row(form.submit, {
                'label': 'Rechercher',
                'attr': {'style': 'margin-top:0;margin-bottom:4rem'}
            }) }}
        </div>
        {{ form_end(form) }}
        <ul class="items-crud post-categories">
            {% for post in posts %}
                <li class="post-category">
                    <span>{{ post.title }}</span>
                    <div class="buttons">
                        <a class="btn btn-danger" href="{{ path("delete_post", {'id': post.id}) }}">✖</a>
                        <a class="btn btn-success" href="{{ path("update_post", {'id': post.id}) }}">↑</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path("add_post") }}" class="btn" style="margin-top: 2rem">Ajouter un post</a>
    </div>
{% endblock %}
