{{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.content, {
            'attr' : {'placeholder': 'placeholder'},
        }) }}
        {{ form_label(form.content, 'Contenu') }}
    </div>
    <div class="form-group">
        {{ form_widget(form.topic, {
            'attr' : {'placeholder': 'placeholder'},
        }) }}
        {{ form_label(form.topic, 'Sujet') }}
    </div>
    {{ form_row(form.submit, {
        'label': 'Confirmer',
        'attr' : {'class': 'btn'}
    }) }}
{{ form_end(form) }}
