{% extends 'layout/admin.html.twig' %}
{% block title %}Admin - catégories des actualités{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="title">Catégories d'actualité</h2>
        {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
        <div class="form-group">
            {{ form_widget(form.name, {'attr': {'placeholder': 'name'}}) }}
            {{ form_label(form.name, 'Terme de recherche') }}
        </div>
        {{ form_row(form.submit, {'label': 'Rechercher'}) }}
        {{ form_end(form) }}
        <ul class="items-crud post-categories">
            {% for post in posts %}
                <li class="post-category">
                    <span>{{ post.name }}</span>
                    <div class="buttons">
                        <a class="btn btn-danger" href="{{ path("delete_post_category", {'id': post.id}) }}">✖</a>
                        <a class="btn btn-success" href="{{ path("update_post_category", {'id': post.id}) }}">↑</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path("add_post_category") }}" class="btn" style="margin-top: 2rem">Ajouter une categorie de post</a>
    </div>
{% endblock %}