{% extends '/layout/admin.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
<div class="container">
    <h1 class="title">Jeux</h1>
    <ul class="items-crud">
        <li class="forum-category post-category">
            <span>{{ game.title }}</span>
            <div class="buttons">
                <a class="btn btn-success" href="{{ path('admin_game_edit', {'id': game.id}) }}">↑</a>
                {{ include('admin_game/_delete_form.html.twig') }}
            </div>
        </li>
    </ul>
    <a style="margin-top: 2rem" class="btn" href="{{ path('admin_game_new') }}">Créer</a>
    <a class="btn" href="{{ path('admin_game_index') }}">Retour à la liste</a>
</div>
{% endblock %}
