<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-brand">Games</a>
            <span class="burger"></span>
            <ul class="nav-items">
                <li class="nav-item"><a href="#" class="nav-link">A propos</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Github</a></li>
                <li class="nav-item">
                    Gestion des données
                    <ul class="drop-down  animate__animated animate__backInDown animate__faster">
                        <li><a href="{{ path("get_post_category") }}">Categories</a></li>
                        <li><a href="{{ path("admin_post") }}">Actualités</a></li>
                        <li><a href="{{ path("admin_message") }}">Message</a></li>
                        <li><a href="{{ path("admin_forum_index") }}">Forums</a></li>
                        <li><a href="{{ path("admin_game_index") }}">Jeux</a></li>
                        <li><a href="{{ path("admin_topic_index") }}">Sujets</a></li>
                        <li><a href="{{ path("admin_message_index") }}">Messages du forum</a></li>
                    </ul>
                </li>
                {% if app.user %}
                    <li class="nav-item"><a href="{{ path('account') }}" class="nav-link">mon compte</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Forums</a></li>
                {% endif %}
                <li class="nav-item notification">
                    <span class="material-icons">notifications</span>
                    <div class="count-message">{{ get_messages()|length }}</div>
                    <ul class="drop-down  animate__animated animate__backInDown animate__faster">
                        {% for message in get_messages() %}
                            <li><a href="{{ path("admin_contact_message_show", {'id': message.id}) }}">{{ message.subject }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item logout"><a href="{{ app.user ? './logout' : './login' }}"
                                               class="nav-link">{{ app.user ? 'Déconnexion' : 'Connexion' }}</a>
                </li>

            </ul>
        </div>
    </nav>
</header>