{% extends '/layout/user.html.twig' %}

{% block title %}Ajouter un sujet dans {{ forum.title }}{% endblock %}

{% block body %}
    <div class="container container-full-page-nav">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form.title, {
                'attr' : {'placeholder': 'placeholder', 'rows': '15'}
            }) }}
            {{ form_label(form.title, 'Contenu') }}
        </div>
        <div class="form-group">
            {{ form_widget(form.pathLogo, {
                'attr' : {'placeholder': 'placeholder'}
            }) }}
            {{ form_label(form.pathLogo, 'Url du logo') }}
        </div>
        {{ form_row(form.submit, {
            'label': 'Créer',
            'attr': {'class': 'btn'}
        }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}